
body{
  background-image:url('./currency.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: 'Montserrat Alternates', Courier, monospace;
}
h2{
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 50px;
  padding: 20px;
  border-radius: 20px;
}
form{
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
  margin: auto;
  border-radius: 25px;
  padding: 30px;
}
#amount{
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 20px;
}
#amount input{
  border-radius: 10px;
  margin: 10px;

}  
#dropdown-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
#dropdown-container .select-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
#dropdown-container .select-container select{
  border-radius: 20px;
  padding: 5px;
  margin: 15px; 
}
#result{
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  font-weight: bold;
  padding: 5px;
}
#get-rate-btn{
  margin: auto;
  width: 200px;
  padding: 20px;
  border-radius: 20px;
  font-weight: bold;
  background-color: rgba(18, 18, 221, 0.767);
  color: white;
}
  